

body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header Styles */
header {
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-size: 36px;
}

h1 {

}


/* Hero Styles */
.hero {
    background-color: gray;
    color: white;
    font-size: 28px;
}

h2 {

}


/* About Me Styles */
.bio {
    color: black;
    font-size: 24px;
}

h3 {

}

.bio-text {
    font-size: 18px;
}

.photo {

}


/* Projects Styles */
.work {
    color: black;
    font-size: 24px;
}

h4 {

}

.projects {
    background-color: antiquewhite;
    font-size: 16px;
    font-style: italic;
}

h5 {
    font-size: 20px;
    font-style: bold;
}

#project1 {

}

#project2 {

}

#project3 {

}

#project4 {

}

#project5 {

}

#project1, #project2, #project3, #project4, #project5:hover {

}

/* Contact Styles */
.contact {
    color: black;
    font-size: 24px;
}

h6 {

}

address {
    font-size: 18px;
}

.links {
    font-size: 18px;
}

/* Footer Styles */
footer {

}

/* Media Query 1: Small Desktop and Smaller */
@media screen and (max-width: 980px) {

}

/* Media Query 2: Tablet and Smaller */
@media screen and (max-width: 768px) {
    
}

/* Media Query 3: Mobile Phone and Smaller */
@media screen and (max-width: 575px) {
    
}